/allMyCats.py
/ass.py
/collatz.py
/ex43.py
/exitExample.py
/fiveTimes.py
/guessTheNumber.py
/hello.py
/helloFunc.py
/magic8ball.py
/magic8ball2.py
/myPets.py
/prettyCharacterCount.py
/printRandom.py
/sameName.py
/spam.py
/swordfish.py
/testing.py
/ticTacToe.py
/trial.py
/tryIt.py
/tryitt.py
/vampire.py
/vampire2.py
/varex.py